//default theme
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$accent: rgb(255, 57, 40);

$color_info_950: hsl(204, 75%, 13%);
$color_info_900: hsl(204, 57%, 25%);
$color_info_800: hsl(198, 78%, 23%);
$color_info_700: hsl(198, 80%, 30%);
$color_info_600: hsl(192, 83%, 43%);
$color_info_500: hsl(193, 88%, 41%);
$color_info_400: hsl(193, 84%, 57%);
$color_info_300: hsl(193, 81%, 72%);
$color_info_200: hsl(180, 89%, 85%);
$color_info_100: hsl(180, 63%, 94%);
$color_info_50: hsl(180, 100%, 99%);

$color_neutral_950: hsl(30, 5%, 4%);
$color_neutral_900: hsl(30, 7%, 10%);
$color_neutral_800: hsl(30, 10%, 15%);
$color_neutral_700: hsl(30, 9%, 26%);
$color_neutral_600: hsl(30, 8%, 34%);
$color_neutral_500: hsl(30, 6%, 48%);
$color_neutral_400: hsl(30, 6%, 66%);
$color_neutral_300: hsl(30, 9%, 83%);
$color_neutral_200: hsl(30, 8%, 91%);
$color_neutral_100: hsl(30, 6%, 96%);
$color_neutral_50: hsl(30, 5%, 98%);

