@use 'variables' as v;

@mixin mobile_xs {
    @media (min-width: v.$screen_xs) {
        @content;
    }
}
@mixin mobile_s {
    @media (min-width: v.$screen_s) {
        @content;
    }
}

@mixin tablet_m {
    @media (min-width: v.$screen_m) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$screen_xl) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$screen_2xl) {
        @content;
    }
}

@mixin grid($col, $space) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    gap: $space;
}